<%-include("./layouts/post_header.ejs") %>

<div class="container mt-5 mb-5">
<h1> Forget Password</h1>

<form  method="POST">
<input type="email" name="email" placeholder="enter email"required>
<br><br>
<input type="submit" class="btn btn-info"value="Forget Password">

</form>

<%   
if(typeof message !=='undefined'){
%>
<p><%= message %></p>
<%
}
%>
</div>

<%-include("./layouts/post_footer.ejs") %> 