<%- include("./layouts/header.ejs") %>
<div>
<div class="container mt-5 mb-5">
    <h1 style="display:flex;justify-content: center;"> Admin Login</h1>
    <%
    if(typeof message !=="undefined"){
        %>
        <p style="color:red;display:flex;justify-content: center;"><%= message %></p>
        <% 
    }
     %>
    <div class="center mb-3">
 
    <form action="" method="POST">
        <div class="row mt-3" mb-3>
            <div class="class-sm-12 mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter Email"required>
            </div>
            <br>
        </div>
        <div class="row mt-3">
            <div class="class-sm-12 mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
<input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="Enter password"required>

            </div>
        </div>
        <div class="row mt-3">
            <div class="class-sm-12">

<input style="margin:4px 4px;"type="Submit" class="btn btn-primary" value="login">
<a href="/forget-password">Forget Password</a>
            </div>
        </div>
    </form>
</div>
</div>

<%- include("./layouts/footer.ejs") %>
